
.info-tile {
    background-color: #F5F5F5;
    margin: auto;
    margin-top: 1rem;
    width: 75%;
}

.card-body {
    margin: auto;
    width: 75%;
}

a {
    text-decoration: none;
}
div {
    text-align: center;
}

h4 {
    padding-top: .5rem;
}

button {
    margin: auto;
    width: 25%;
    margin-bottom: .5rem;
}