
.info-tile {
    background-color: #F5F5F5;
    margin: auto;
    margin-top: 1rem;
    width: 75%;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover {
    color: #0d6efd;
}

div {
    text-align: center;
}

h4 {
    padding-top: .5rem;
}

.apply-btn {
    width: 25%;
    margin: auto;
    margin-bottom: .5rem;
}